<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>halo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>halo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>halo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{134,136}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{134,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>halo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>halo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,138},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{130,130}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>halo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>halo.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cf1f3bfc12dd6bd53875fda6303891d:1/1$</string>
            <key>textureFileName</key>
            <string>halo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
