<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_active_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,53},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{49,43}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,53},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>button_friend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{51,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_gacha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,57},{53,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{53,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,78},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>button_home_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{49,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_pet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,55},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{47,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_reward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,46},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{40,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>button_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{49,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,34}}</string>
                <key>sourceSize</key>
                <string>{49,34}</string>
            </dict>
            <key>button_shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,59},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_system_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>button_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,84},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>pic_active_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>pic_arena_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>pic_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,65},{323,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,57}}</string>
                <key>sourceSize</key>
                <string>{323,57}</string>
            </dict>
            <key>pic_side_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>pic_system_quest1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pic_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{324,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,61}}</string>
                <key>sourceSize</key>
                <string>{324,61}</string>
            </dict>
            <key>text_maoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,78},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.pvr.ccz</string>
            <key>size</key>
            <string>{776,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f3d105d2874e9246133fe7cb62fdc0f:1/1$</string>
            <key>textureFileName</key>
            <string>main.pvr.ccz</string>
        </dict>
    </dict>
</plist>
