<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic_low_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{299,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,575}}</string>
                <key>sourceSize</key>
                <string>{299,575}</string>
            </dict>
            <key>pic_up_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,575}}</string>
                <key>sourceSize</key>
                <string>{312,575}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pray.pvr.ccz</string>
            <key>size</key>
            <string>{617,579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07e4130be66581b2a5b00fb9d532ecde:1/1$</string>
            <key>textureFileName</key>
            <string>pray.pvr.ccz</string>
        </dict>
    </dict>
</plist>
