<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>banshu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>chinajoy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>client_91.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>client_d9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>client_i4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>client_pp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>pet2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pet2_d9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>261266D81A19872A00599917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262764641A00E0630087746B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2685C82A19C2840D006DC070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26DB4A3E1A0CCE2700918059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>336CC6231A2EBE94004D008B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EBDE48419829F2D00BF62CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EFB9C4A1986114C008F08D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
