<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_bg_village.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,416}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,416}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_bg_village.pvr.ccz</string>
            <key>size</key>
            <string>{324,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64ff87f2f0b840c9a4b3e4b7609fb59d:1/1$</string>
            <key>textureFileName</key>
            <string>scene_bg_village.pvr.ccz</string>
        </dict>
    </dict>
</plist>
