<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_bg_arenaroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,650}}</string>
                <key>sourceSize</key>
                <string>{360,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_bg_arenaroom.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70c9264bc91e67178cd5c2e67d9f140c$</string>
            <key>textureFileName</key>
            <string>scene_bg_arenaroom.pvr.ccz</string>
        </dict>
    </dict>
</plist>
