<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic_server_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,40}}</string>
                <key>sourceSize</key>
                <string>{199,40}</string>
            </dict>
            <key>pic_start_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{235,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,11}}</string>
                <key>sourceSize</key>
                <string>{235,11}</string>
            </dict>
            <key>pic_startgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{67,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,18}}</string>
                <key>sourceSize</key>
                <string>{67,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start_packer.pvr.ccz</string>
            <key>size</key>
            <string>{272,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93e77275888de924e946ee536ade9d9e$</string>
            <key>textureFileName</key>
            <string>start_packer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
