<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_costdiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,344},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>button_costmoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,287},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,39}}</string>
                <key>sourceSize</key>
                <string>{55,39}</string>
            </dict>
            <key>challenge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{283,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,92}}</string>
                <key>sourceSize</key>
                <string>{283,92}</string>
            </dict>
            <key>challenge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{283,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,92}}</string>
                <key>sourceSize</key>
                <string>{283,92}</string>
            </dict>
            <key>challenge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{283,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,92}}</string>
                <key>sourceSize</key>
                <string>{283,92}</string>
            </dict>
            <key>challenge_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{283,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,92}}</string>
                <key>sourceSize</key>
                <string>{283,92}</string>
            </dict>
            <key>challenge_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{283,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,92}}</string>
                <key>sourceSize</key>
                <string>{283,92}</string>
            </dict>
            <key>pic_active_bossframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,287},{174,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,170}}</string>
                <key>sourceSize</key>
                <string>{174,170}</string>
            </dict>
            <key>pic_active_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,459},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>pic_active_missionframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,459},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>pic_active_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,268}}</string>
                <key>sourceSize</key>
                <string>{308,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>active_challenge.pvr.ccz</string>
            <key>size</key>
            <string>{505,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c85df0a747a72640fc982ca30679f3c0$</string>
            <key>textureFileName</key>
            <string>active_challenge.pvr.ccz</string>
        </dict>
    </dict>
</plist>
