<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_type4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>bg_type4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{100,84}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_type4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{100,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>challenge_mapid4_bg.pvr.ccz</string>
            <key>size</key>
            <string>{105,291}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6c46d5463957ce2797072d4bef29121$</string>
            <key>textureFileName</key>
            <string>challenge_mapid4_bg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
