<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>challenge_index_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{113,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,91}}</string>
                <key>sourceSize</key>
                <string>{113,91}</string>
            </dict>
            <key>challenge_index_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{109,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,93}}</string>
                <key>sourceSize</key>
                <string>{109,93}</string>
            </dict>
            <key>challenge_index_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{111,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{113,91}</string>
            </dict>
            <key>challenge_index_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{107,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,87}}</string>
                <key>sourceSize</key>
                <string>{107,91}</string>
            </dict>
            <key>challenge_index_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,136}}</string>
                <key>sourceSize</key>
                <string>{146,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>challenge_index.pvr.ccz</string>
            <key>size</key>
            <string>{150,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b11b98f13c930476d802a69cd5d43338$</string>
            <key>textureFileName</key>
            <string>challenge_index.pvr.ccz</string>
        </dict>
    </dict>
</plist>
