<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ballEff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,128},{43,63}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,33},{43,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ballEff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{79,73}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{79,73}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ballEff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{65,67}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,24},{65,67}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ballEff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{61,41}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{61,41}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ballEff5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{67,73}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,23},{67,73}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ballEff6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{59,35}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,54},{59,35}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ballEff7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,71},{65,73}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{65,73}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ballEff8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,75}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{79,75}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ballEff9.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,77},{49,73}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,23},{49,73}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>balleff.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d07d9e107355d504740f513265f9cfd$</string>
            <key>textureFileName</key>
            <string>balleff.png</string>
        </dict>
    </dict>
</plist>
