<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egglight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1434},{640,424}}</string>
                <key>offset</key>
                <string>{-8,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{640,424}}</string>
                <key>sourceSize</key>
                <string>{720,600}</string>
            </dict>
            <key>egglight_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1664},{322,316}}</string>
                <key>offset</key>
                <string>{3,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,47},{322,316}}</string>
                <key>sourceSize</key>
                <string>{720,600}</string>
            </dict>
            <key>egglight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{720,576}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,576}}</string>
                <key>sourceSize</key>
                <string>{720,600}</string>
            </dict>
            <key>egglight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,600},{720,584}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,584}}</string>
                <key>sourceSize</key>
                <string>{720,600}</string>
            </dict>
            <key>egglight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,598}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,598}}</string>
                <key>sourceSize</key>
                <string>{720,600}</string>
            </dict>
            <key>egglight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{720,566}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,566}}</string>
                <key>sourceSize</key>
                <string>{720,600}</string>
            </dict>
            <key>egglight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{720,584}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,584}}</string>
                <key>sourceSize</key>
                <string>{720,600}</string>
            </dict>
            <key>egglight_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{720,596}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,596}}</string>
                <key>sourceSize</key>
                <string>{720,600}</string>
            </dict>
            <key>egglight_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,724},{708,592}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{708,592}}</string>
                <key>sourceSize</key>
                <string>{720,600}</string>
            </dict>
            <key>egglight_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1186},{596,476}}</string>
                <key>offset</key>
                <string>{-2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{596,476}}</string>
                <key>sourceSize</key>
                <string>{720,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>egglight.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d489fb9443021cf03d7d39f36a0a0689$</string>
            <key>textureFileName</key>
            <string>egglight.png</string>
        </dict>
    </dict>
</plist>
