<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_quality_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,216},{35,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,95}}</string>
                <key>sourceSize</key>
                <string>{35,95}</string>
            </dict>
            <key>a_quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,179},{35,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,95}}</string>
                <key>sourceSize</key>
                <string>{35,95}</string>
            </dict>
            <key>a_quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,216},{35,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,95}}</string>
                <key>sourceSize</key>
                <string>{35,95}</string>
            </dict>
            <key>a_quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,179},{35,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,95}}</string>
                <key>sourceSize</key>
                <string>{35,95}</string>
            </dict>
            <key>a_quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,180},{35,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,95}}</string>
                <key>sourceSize</key>
                <string>{35,95}</string>
            </dict>
            <key>b_quality_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,180},{51,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,175}}</string>
                <key>sourceSize</key>
                <string>{51,175}</string>
            </dict>
            <key>b_quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{51,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,175}}</string>
                <key>sourceSize</key>
                <string>{51,175}</string>
            </dict>
            <key>b_quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{51,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,175}}</string>
                <key>sourceSize</key>
                <string>{51,175}</string>
            </dict>
            <key>b_quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{51,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,175}}</string>
                <key>sourceSize</key>
                <string>{51,175}</string>
            </dict>
            <key>b_quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{51,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,175}}</string>
                <key>sourceSize</key>
                <string>{51,175}</string>
            </dict>
            <key>m_quality_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{51,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,179}}</string>
                <key>sourceSize</key>
                <string>{51,179}</string>
            </dict>
            <key>m_quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{51,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,179}}</string>
                <key>sourceSize</key>
                <string>{51,179}</string>
            </dict>
            <key>m_quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{51,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,179}}</string>
                <key>sourceSize</key>
                <string>{51,179}</string>
            </dict>
            <key>m_quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,179}}</string>
                <key>sourceSize</key>
                <string>{51,179}</string>
            </dict>
            <key>m_quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,179}}</string>
                <key>sourceSize</key>
                <string>{51,179}</string>
            </dict>
            <key>t_quality_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{51,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,176}}</string>
                <key>sourceSize</key>
                <string>{51,176}</string>
            </dict>
            <key>t_quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{51,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,176}}</string>
                <key>sourceSize</key>
                <string>{51,176}</string>
            </dict>
            <key>t_quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{51,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,176}}</string>
                <key>sourceSize</key>
                <string>{51,176}</string>
            </dict>
            <key>t_quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{51,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,176}}</string>
                <key>sourceSize</key>
                <string>{51,176}</string>
            </dict>
            <key>t_quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{51,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,176}}</string>
                <key>sourceSize</key>
                <string>{51,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_frame.pvr.ccz</string>
            <key>size</key>
            <string>{691,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc954fbe9bba5199eddd5ebcf197cb9a$</string>
            <key>textureFileName</key>
            <string>pet_frame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
