<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena_back_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,310},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>arena_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{638,90}}</string>
                <key>offset</key>
                <string>{1,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{638,90}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>arena_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,106}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,47},{624,106}}</string>
                <key>sourceSize</key>
                <string>{640,270}</string>
            </dict>
            <key>arena_far.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,518},{360,162}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,162}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
            <key>arena_frame_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,274},{305,242}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,242}}</string>
                <key>sourceSize</key>
                <string>{305,244}</string>
            </dict>
            <key>arena_frame_info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,826},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>arena_scence.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{360,166}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,104},{360,166}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
            <key>arena_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,682},{360,120}}</string>
                <key>offset</key>
                <string>{0,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,120}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
            <key>arena_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,967},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>button_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,955},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>button_cup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,472},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>fight_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{320,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,270}}</string>
                <key>sourceSize</key>
                <string>{320,270}</string>
            </dict>
            <key>frame_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,943},{320,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,35}}</string>
                <key>sourceSize</key>
                <string>{320,35}</string>
            </dict>
            <key>pic_arena_att.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,893},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_arena_bottomframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,980},{174,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,21}}</string>
                <key>sourceSize</key>
                <string>{174,21}</string>
            </dict>
            <key>pic_arena_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,905},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>pic_arena_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{306,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{306,90}}</string>
                <key>sourceSize</key>
                <string>{308,90}</string>
            </dict>
            <key>pic_arena_frametop.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,310},{147,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,18}}</string>
                <key>sourceSize</key>
                <string>{147,18}</string>
            </dict>
            <key>pic_arenapet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,804},{82,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,99}}</string>
                <key>sourceSize</key>
                <string>{82,99}</string>
            </dict>
            <key>pic_icon_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,753},{71,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,62}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>pic_result_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,804},{305,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,137}}</string>
                <key>sourceSize</key>
                <string>{305,137}</string>
            </dict>
            <key>pic_result_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,472},{279,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,52}}</string>
                <key>sourceSize</key>
                <string>{279,52}</string>
            </dict>
            <key>pic_shadow_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,682},{55,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,19}}</string>
                <key>sourceSize</key>
                <string>{55,21}</string>
            </dict>
            <key>pic_shengwang_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,980},{139,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,27}}</string>
                <key>sourceSize</key>
                <string>{139,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arena_packer.pvr.ccz</string>
            <key>size</key>
            <string>{625,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2db35d81a4dc538d44b2828665f83d0b$</string>
            <key>textureFileName</key>
            <string>arena_packer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
