<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pt2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{45,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>pt2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{49,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>pt2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_type.pvr.ccz</string>
            <key>size</key>
            <string>{147,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6c47f157cf961860bf973eb4488b1f7$</string>
            <key>textureFileName</key>
            <string>pet_type.pvr.ccz</string>
        </dict>
    </dict>
</plist>
