<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>event_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,215}}</string>
                <key>sourceSize</key>
                <string>{246,215}</string>
            </dict>
            <key>event_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{234,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,198}}</string>
                <key>sourceSize</key>
                <string>{234,198}</string>
            </dict>
            <key>event_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{218,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,217}}</string>
                <key>sourceSize</key>
                <string>{218,217}</string>
            </dict>
            <key>event_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{50,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>event_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,52},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>event_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,100},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>event_top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,541},{320,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,93}}</string>
                <key>sourceSize</key>
                <string>{320,95}</string>
            </dict>
            <key>event_top_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{320,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{320,93}}</string>
                <key>sourceSize</key>
                <string>{320,95}</string>
            </dict>
            <key>event_top_grow.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,219},{320,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,93}}</string>
                <key>sourceSize</key>
                <string>{320,95}</string>
            </dict>
            <key>pic_gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{227,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,213}}</string>
                <key>sourceSize</key>
                <string>{227,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>event_packer.pvr.ccz</string>
            <key>size</key>
            <string>{326,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc36ff02b4f1ab620b2c49dae4f6f383$</string>
            <key>textureFileName</key>
            <string>event_packer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
